*
publications/index.php

!_font
!_img
!_images
!_js
!images
!papers
!posters
!presentations
!publications
!semester
!.gitignore
!.nojekyll
!_images/bullet_citadel.png
!_images/bullet_odu.png
!_images/bullet_oduphd.png
!_images/bullet_uf.png
!index.html
!index.php
!_js/index.js
!_images/mofro.png
!postdoc.html
!_css/style.css
!wsdlBlogFeed_matKelly_20180910.json

!twitterCard.png
!transparentPixel.png
!wsdlBlogFeed_matKelly*
!researchStatement.pdf

!candidacyProposal_matKelly.pdf
!candidacyProposal_slides.pdf

!reversearchiveit
